echo "grub starting..."
set gfxpayload=keep
set root=(hd0,msdos1)

menuentry "gubic" {
	multiboot2 "/gubic.x86" /sys/desktop user=grad,cancelButton=y
	module2 "/rd.img"
}

menuentry "reboot" {reboot}

menuentry "shutdown" {halt}

if [ "$grub_platform" = "efi" ]; then
  menuentry "uefi firmware setup" {
      fwsetup
  }
fi
