echo "grub starting..."

menuentry "gubic" {
	set gfxpayload=keep
	set root=(hd0,msdos1)
	multiboot2 "/gubic.x86" user=grad,cancelButton=y
	module2 "/rd.img"
}

menuentry "reboot" {reboot}

menuentry "shutdown" {halt}

if [ "$grub_platform" = "efi" ]; then
	menuentry "uefi firmware setup" {
		fwsetup
	}
fi
